.main {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.films {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.films img {
    height: fit-content;
    margin-left: 20px;
}

.header {
    width: 100%;
    margin-bottom: 80px;
}