.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent; 
    color: #fff; 
  }
  
  .logo-container img {
    max-height: 50px; 
  }
  
  .menu-container ul {
    display: flex;
  }
  
  .menu-container li {
    margin-right: 20px;
  }
  
  .menu-container a {
    color: #fff; 
    cursor: pointer;
    font-weight: bold;
    margin-left: 30px;
  }
  